.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  /* your code here */
  position: relative;
  left: 5px;
  top: 75px;
}

#charmander {
  /* your code here */
  position: relative;
  left: 10px;
  top: 100px;
}

#squirtle {
  /* your code here */
  position: relative;
  left: 12px;
  top: 150px;
}

#pikachu {
  /* your code here */
  position: relative;
  left: 15px;
  top: 200px;
}

#jigglypuff {
  /* your code here */
  position: relative;
  left: 20px;
  top: 300px;
}
