.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-two-third {
  width: calc(100% * 2 / 3);
}

.column-third {
  width: calc(100% / 3);
}

.column-fourth {
  width: 25%;
}

img {
  width: 100%;
}
