button {
  font-size: 20px;
  padding: 10px 20px;
  border-style: solid;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

th {
  color: white;
  background-color: black;
}

tr:nth-child(odd) {
  background-color: lightgray;
}
