.container {
  max-width: 800px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

.align-center {
  align-items: center;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-fourth {
  width: 25%;
}

.hidden {
  display: none;
}

.dots {
  gap: 0.5rem;
}

.arrows-left,
.arrows-right {
  font-size: 5rem;
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.grey {
  background-color: grey;
}

.yellow {
  background-color: yellow;
}
