body {
  font-family: "Courier Prime", monospace;
}

.container {
  height: 500px;
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.height {
  height: 100%;
}

.column-full {
  width: 100%;
}

h1 {
  font-size: 2rem;
  justify-content: center;
  white-space: pre;
  letter-spacing: 0.4rem;
  font-weight: bolder;
}

.current-letter {
  border-bottom: solid black;
  border-bottom-width: 2px;
  padding-bottom: 5px;
}

.wrong {
  color: red;
  border-bottom: solid red;
  border-bottom-width: 2px;
  padding-bottom: 5px;
}

.correct {
  color: rgb(26 205 27);
}
